<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Armature_1_00_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00002</key>
		<dict>
			<key>frame</key>
			<string>{{2,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00003</key>
		<dict>
			<key>frame</key>
			<string>{{2,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00004</key>
		<dict>
			<key>frame</key>
			<string>{{2,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00005</key>
		<dict>
			<key>frame</key>
			<string>{{2,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00006</key>
		<dict>
			<key>frame</key>
			<string>{{2,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00007</key>
		<dict>
			<key>frame</key>
			<string>{{175,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00008</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00009</key>
		<dict>
			<key>frame</key>
			<string>{{175,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00010</key>
		<dict>
			<key>frame</key>
			<string>{{175,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00011</key>
		<dict>
			<key>frame</key>
			<string>{{175,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00012</key>
		<dict>
			<key>frame</key>
			<string>{{175,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00013</key>
		<dict>
			<key>frame</key>
			<string>{{175,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00014</key>
		<dict>
			<key>frame</key>
			<string>{{348,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00015</key>
		<dict>
			<key>frame</key>
			<string>{{348,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00016</key>
		<dict>
			<key>frame</key>
			<string>{{521,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00017</key>
		<dict>
			<key>frame</key>
			<string>{{348,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00018</key>
		<dict>
			<key>frame</key>
			<string>{{348,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00019</key>
		<dict>
			<key>frame</key>
			<string>{{348,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00020</key>
		<dict>
			<key>frame</key>
			<string>{{348,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00021</key>
		<dict>
			<key>frame</key>
			<string>{{348,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00022</key>
		<dict>
			<key>frame</key>
			<string>{{521,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00023</key>
		<dict>
			<key>frame</key>
			<string>{{521,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00024</key>
		<dict>
			<key>frame</key>
			<string>{{694,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00025</key>
		<dict>
			<key>frame</key>
			<string>{{694,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00026</key>
		<dict>
			<key>frame</key>
			<string>{{867,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00027</key>
		<dict>
			<key>frame</key>
			<string>{{521,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00028</key>
		<dict>
			<key>frame</key>
			<string>{{521,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00029</key>
		<dict>
			<key>frame</key>
			<string>{{521,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00030</key>
		<dict>
			<key>frame</key>
			<string>{{521,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00031</key>
		<dict>
			<key>frame</key>
			<string>{{694,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00032</key>
		<dict>
			<key>frame</key>
			<string>{{694,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00033</key>
		<dict>
			<key>frame</key>
			<string>{{867,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00034</key>
		<dict>
			<key>frame</key>
			<string>{{867,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00035</key>
		<dict>
			<key>frame</key>
			<string>{{1040,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00036</key>
		<dict>
			<key>frame</key>
			<string>{{1040,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00037</key>
		<dict>
			<key>frame</key>
			<string>{{1213,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00038</key>
		<dict>
			<key>frame</key>
			<string>{{694,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00039</key>
		<dict>
			<key>frame</key>
			<string>{{694,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00040</key>
		<dict>
			<key>frame</key>
			<string>{{694,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00041</key>
		<dict>
			<key>frame</key>
			<string>{{867,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00042</key>
		<dict>
			<key>frame</key>
			<string>{{867,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00043</key>
		<dict>
			<key>frame</key>
			<string>{{1040,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00044</key>
		<dict>
			<key>frame</key>
			<string>{{1040,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00045</key>
		<dict>
			<key>frame</key>
			<string>{{1213,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00046</key>
		<dict>
			<key>frame</key>
			<string>{{1213,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00047</key>
		<dict>
			<key>frame</key>
			<string>{{1386,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00048</key>
		<dict>
			<key>frame</key>
			<string>{{1386,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00049</key>
		<dict>
			<key>frame</key>
			<string>{{1559,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00050</key>
		<dict>
			<key>frame</key>
			<string>{{867,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00051</key>
		<dict>
			<key>frame</key>
			<string>{{867,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00052</key>
		<dict>
			<key>frame</key>
			<string>{{1040,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00053</key>
		<dict>
			<key>frame</key>
			<string>{{1040,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00054</key>
		<dict>
			<key>frame</key>
			<string>{{1213,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00055</key>
		<dict>
			<key>frame</key>
			<string>{{1040,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00056</key>
		<dict>
			<key>frame</key>
			<string>{{1213,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00057</key>
		<dict>
			<key>frame</key>
			<string>{{1213,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00058</key>
		<dict>
			<key>frame</key>
			<string>{{1386,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00059</key>
		<dict>
			<key>frame</key>
			<string>{{1386,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00060</key>
		<dict>
			<key>frame</key>
			<string>{{1559,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00061</key>
		<dict>
			<key>frame</key>
			<string>{{1213,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00062</key>
		<dict>
			<key>frame</key>
			<string>{{1386,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00063</key>
		<dict>
			<key>frame</key>
			<string>{{1386,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00064</key>
		<dict>
			<key>frame</key>
			<string>{{1559,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00065</key>
		<dict>
			<key>frame</key>
			<string>{{1559,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00066</key>
		<dict>
			<key>frame</key>
			<string>{{1732,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00067</key>
		<dict>
			<key>frame</key>
			<string>{{1732,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00068</key>
		<dict>
			<key>frame</key>
			<string>{{1905,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00069</key>
		<dict>
			<key>frame</key>
			<string>{{1386,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00070</key>
		<dict>
			<key>frame</key>
			<string>{{1559,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00071</key>
		<dict>
			<key>frame</key>
			<string>{{1559,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00072</key>
		<dict>
			<key>frame</key>
			<string>{{1732,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00073</key>
		<dict>
			<key>frame</key>
			<string>{{1732,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00074</key>
		<dict>
			<key>frame</key>
			<string>{{1905,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00075</key>
		<dict>
			<key>frame</key>
			<string>{{1905,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00076</key>
		<dict>
			<key>frame</key>
			<string>{{2078,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00077</key>
		<dict>
			<key>frame</key>
			<string>{{2078,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00078</key>
		<dict>
			<key>frame</key>
			<string>{{2251,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00079</key>
		<dict>
			<key>frame</key>
			<string>{{1559,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00080</key>
		<dict>
			<key>frame</key>
			<string>{{1732,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00081</key>
		<dict>
			<key>frame</key>
			<string>{{1732,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00082</key>
		<dict>
			<key>frame</key>
			<string>{{1905,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00083</key>
		<dict>
			<key>frame</key>
			<string>{{1905,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00084</key>
		<dict>
			<key>frame</key>
			<string>{{2078,1739},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00085</key>
		<dict>
			<key>frame</key>
			<string>{{2078,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00086</key>
		<dict>
			<key>frame</key>
			<string>{{2251,1160},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00087</key>
		<dict>
			<key>frame</key>
			<string>{{2251,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00088</key>
		<dict>
			<key>frame</key>
			<string>{{2424,581},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00089</key>
		<dict>
			<key>frame</key>
			<string>{{2424,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00090</key>
		<dict>
			<key>frame</key>
			<string>{{2597,2},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00091</key>
		<dict>
			<key>frame</key>
			<string>{{1732,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00092</key>
		<dict>
			<key>frame</key>
			<string>{{1905,3476},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00093</key>
		<dict>
			<key>frame</key>
			<string>{{1905,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00094</key>
		<dict>
			<key>frame</key>
			<string>{{2078,2897},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
		<key>Armature_1_00_00095</key>
		<dict>
			<key>frame</key>
			<string>{{2078,2318},{577,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,171}}</string>
			<key>sourceSize</key>
			<string>{577,171}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Armature_1_00</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>textureFileName</key>
		<string>Armature_1_00</string>
	</dict>
</dict>
</plist>
