<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134275114_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_004</key>
		<dict>
			<key>frame</key>
			<string>{{107,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_005</key>
		<dict>
			<key>frame</key>
			<string>{{107,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_006</key>
		<dict>
			<key>frame</key>
			<string>{{107,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_007</key>
		<dict>
			<key>frame</key>
			<string>{{107,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_008</key>
		<dict>
			<key>frame</key>
			<string>{{212,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_009</key>
		<dict>
			<key>frame</key>
			<string>{{212,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_010</key>
		<dict>
			<key>frame</key>
			<string>{{317,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_011</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_012</key>
		<dict>
			<key>frame</key>
			<string>{{212,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_013</key>
		<dict>
			<key>frame</key>
			<string>{{317,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_014</key>
		<dict>
			<key>frame</key>
			<string>{{317,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_015</key>
		<dict>
			<key>frame</key>
			<string>{{422,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_016</key>
		<dict>
			<key>frame</key>
			<string>{{317,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_017</key>
		<dict>
			<key>frame</key>
			<string>{{422,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_018</key>
		<dict>
			<key>frame</key>
			<string>{{422,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_019</key>
		<dict>
			<key>frame</key>
			<string>{{527,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_020</key>
		<dict>
			<key>frame</key>
			<string>{{527,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_021</key>
		<dict>
			<key>frame</key>
			<string>{{632,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_022</key>
		<dict>
			<key>frame</key>
			<string>{{422,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_023</key>
		<dict>
			<key>frame</key>
			<string>{{527,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_024</key>
		<dict>
			<key>frame</key>
			<string>{{527,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_025</key>
		<dict>
			<key>frame</key>
			<string>{{632,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_026</key>
		<dict>
			<key>frame</key>
			<string>{{632,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_027</key>
		<dict>
			<key>frame</key>
			<string>{{737,767},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_028</key>
		<dict>
			<key>frame</key>
			<string>{{632,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_029</key>
		<dict>
			<key>frame</key>
			<string>{{737,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_030</key>
		<dict>
			<key>frame</key>
			<string>{{737,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_031</key>
		<dict>
			<key>frame</key>
			<string>{{737,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_032</key>
		<dict>
			<key>frame</key>
			<string>{{842,2},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_033</key>
		<dict>
			<key>frame</key>
			<string>{{842,257},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
		<key>134275114_034</key>
		<dict>
			<key>frame</key>
			<string>{{842,512},{253,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,103}}</string>
			<key>sourceSize</key>
			<string>{253,103}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134275114</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>custom_ui/134275114</string>
	</dict>
</dict>
</plist>
