<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134240191_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_001</key>
		<dict>
			<key>frame</key>
			<string>{{145,2},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_002</key>
		<dict>
			<key>frame</key>
			<string>{{288,2},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_003</key>
		<dict>
			<key>frame</key>
			<string>{{431,2},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_004</key>
		<dict>
			<key>frame</key>
			<string>{{574,2},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_005</key>
		<dict>
			<key>frame</key>
			<string>{{717,2},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_006</key>
		<dict>
			<key>frame</key>
			<string>{{860,2},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_007</key>
		<dict>
			<key>frame</key>
			<string>{{860,145},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_008</key>
		<dict>
			<key>frame</key>
			<string>{{2,288},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_009</key>
		<dict>
			<key>frame</key>
			<string>{{2,145},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_010</key>
		<dict>
			<key>frame</key>
			<string>{{145,145},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_011</key>
		<dict>
			<key>frame</key>
			<string>{{288,145},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_012</key>
		<dict>
			<key>frame</key>
			<string>{{431,145},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_013</key>
		<dict>
			<key>frame</key>
			<string>{{574,145},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_014</key>
		<dict>
			<key>frame</key>
			<string>{{717,145},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_015</key>
		<dict>
			<key>frame</key>
			<string>{{717,288},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_016</key>
		<dict>
			<key>frame</key>
			<string>{{860,288},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_017</key>
		<dict>
			<key>frame</key>
			<string>{{860,431},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_018</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_019</key>
		<dict>
			<key>frame</key>
			<string>{{2,431},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_020</key>
		<dict>
			<key>frame</key>
			<string>{{145,431},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_021</key>
		<dict>
			<key>frame</key>
			<string>{{145,288},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_022</key>
		<dict>
			<key>frame</key>
			<string>{{288,288},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_023</key>
		<dict>
			<key>frame</key>
			<string>{{431,288},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_024</key>
		<dict>
			<key>frame</key>
			<string>{{574,288},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_025</key>
		<dict>
			<key>frame</key>
			<string>{{574,431},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_026</key>
		<dict>
			<key>frame</key>
			<string>{{717,431},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_027</key>
		<dict>
			<key>frame</key>
			<string>{{717,574},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_028</key>
		<dict>
			<key>frame</key>
			<string>{{860,574},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_029</key>
		<dict>
			<key>frame</key>
			<string>{{860,717},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_030</key>
		<dict>
			<key>frame</key>
			<string>{{2,860},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_031</key>
		<dict>
			<key>frame</key>
			<string>{{2,717},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_032</key>
		<dict>
			<key>frame</key>
			<string>{{145,717},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>134240191_033</key>
		<dict>
			<key>frame</key>
			<string>{{145,574},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134240191</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>custom_ui/134240191</string>
	</dict>
</dict>
</plist>
