<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134225206_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_001</key>
		<dict>
			<key>frame</key>
			<string>{{64,2},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_002</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_003</key>
		<dict>
			<key>frame</key>
			<string>{{188,2},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_004</key>
		<dict>
			<key>frame</key>
			<string>{{188,56},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_005</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_006</key>
		<dict>
			<key>frame</key>
			<string>{{64,56},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_007</key>
		<dict>
			<key>frame</key>
			<string>{{126,56},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_008</key>
		<dict>
			<key>frame</key>
			<string>{{126,110},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_009</key>
		<dict>
			<key>frame</key>
			<string>{{188,110},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_010</key>
		<dict>
			<key>frame</key>
			<string>{{188,164},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_011</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_012</key>
		<dict>
			<key>frame</key>
			<string>{{64,110},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_013</key>
		<dict>
			<key>frame</key>
			<string>{{64,164},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_014</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_015</key>
		<dict>
			<key>frame</key>
			<string>{{2,218},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_016</key>
		<dict>
			<key>frame</key>
			<string>{{126,164},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_017</key>
		<dict>
			<key>frame</key>
			<string>{{126,218},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_018</key>
		<dict>
			<key>frame</key>
			<string>{{64,218},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_019</key>
		<dict>
			<key>frame</key>
			<string>{{64,272},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_020</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_021</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_022</key>
		<dict>
			<key>frame</key>
			<string>{{188,218},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_023</key>
		<dict>
			<key>frame</key>
			<string>{{188,272},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_024</key>
		<dict>
			<key>frame</key>
			<string>{{126,272},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_025</key>
		<dict>
			<key>frame</key>
			<string>{{126,326},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_026</key>
		<dict>
			<key>frame</key>
			<string>{{64,326},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_027</key>
		<dict>
			<key>frame</key>
			<string>{{64,380},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_028</key>
		<dict>
			<key>frame</key>
			<string>{{2,380},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_029</key>
		<dict>
			<key>frame</key>
			<string>{{2,434},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>134225206_030</key>
		<dict>
			<key>frame</key>
			<string>{{188,326},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134225206</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134225206</string>
	</dict>
</dict>
</plist>
