<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134248729_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_004</key>
		<dict>
			<key>frame</key>
			<string>{{346,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_005</key>
		<dict>
			<key>frame</key>
			<string>{{346,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_006</key>
		<dict>
			<key>frame</key>
			<string>{{346,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_007</key>
		<dict>
			<key>frame</key>
			<string>{{346,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_008</key>
		<dict>
			<key>frame</key>
			<string>{{690,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_009</key>
		<dict>
			<key>frame</key>
			<string>{{690,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_010</key>
		<dict>
			<key>frame</key>
			<string>{{1034,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_011</key>
		<dict>
			<key>frame</key>
			<string>{{690,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_012</key>
		<dict>
			<key>frame</key>
			<string>{{690,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_013</key>
		<dict>
			<key>frame</key>
			<string>{{1034,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_014</key>
		<dict>
			<key>frame</key>
			<string>{{1034,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_015</key>
		<dict>
			<key>frame</key>
			<string>{{1378,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_016</key>
		<dict>
			<key>frame</key>
			<string>{{1034,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_017</key>
		<dict>
			<key>frame</key>
			<string>{{1378,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_018</key>
		<dict>
			<key>frame</key>
			<string>{{1378,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_019</key>
		<dict>
			<key>frame</key>
			<string>{{1722,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_020</key>
		<dict>
			<key>frame</key>
			<string>{{1722,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_021</key>
		<dict>
			<key>frame</key>
			<string>{{2066,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_022</key>
		<dict>
			<key>frame</key>
			<string>{{1378,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_023</key>
		<dict>
			<key>frame</key>
			<string>{{1722,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_024</key>
		<dict>
			<key>frame</key>
			<string>{{1722,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_025</key>
		<dict>
			<key>frame</key>
			<string>{{2066,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_026</key>
		<dict>
			<key>frame</key>
			<string>{{2066,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_027</key>
		<dict>
			<key>frame</key>
			<string>{{2410,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_028</key>
		<dict>
			<key>frame</key>
			<string>{{2410,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_029</key>
		<dict>
			<key>frame</key>
			<string>{{2754,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_030</key>
		<dict>
			<key>frame</key>
			<string>{{2066,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_031</key>
		<dict>
			<key>frame</key>
			<string>{{2410,1337},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_032</key>
		<dict>
			<key>frame</key>
			<string>{{2410,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_033</key>
		<dict>
			<key>frame</key>
			<string>{{2754,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_034</key>
		<dict>
			<key>frame</key>
			<string>{{2754,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_035</key>
		<dict>
			<key>frame</key>
			<string>{{3098,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_036</key>
		<dict>
			<key>frame</key>
			<string>{{3098,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_037</key>
		<dict>
			<key>frame</key>
			<string>{{3442,2},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_038</key>
		<dict>
			<key>frame</key>
			<string>{{3442,447},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_039</key>
		<dict>
			<key>frame</key>
			<string>{{3442,791},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_040</key>
		<dict>
			<key>frame</key>
			<string>{{3098,892},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_041</key>
		<dict>
			<key>frame</key>
			<string>{{3442,1135},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
		<key>134248729_042</key>
		<dict>
			<key>frame</key>
			<string>{{2754,1479},{443,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,342}}</string>
			<key>sourceSize</key>
			<string>{443,342}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134248729</string>
		<key>size</key>
		<string>{4096,2048}</string>
		<key>textureFileName</key>
		<string>custom_ui/134248729</string>
	</dict>
</dict>
</plist>
