<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134224401_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_001</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_002</key>
		<dict>
			<key>frame</key>
			<string>{{158,2},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_003</key>
		<dict>
			<key>frame</key>
			<string>{{158,52},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,52},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_005</key>
		<dict>
			<key>frame</key>
			<string>{{80,52},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_006</key>
		<dict>
			<key>frame</key>
			<string>{{80,102},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_007</key>
		<dict>
			<key>frame</key>
			<string>{{2,102},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_008</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_009</key>
		<dict>
			<key>frame</key>
			<string>{{158,102},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_010</key>
		<dict>
			<key>frame</key>
			<string>{{158,152},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_011</key>
		<dict>
			<key>frame</key>
			<string>{{80,152},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_012</key>
		<dict>
			<key>frame</key>
			<string>{{80,202},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_013</key>
		<dict>
			<key>frame</key>
			<string>{{2,202},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_014</key>
		<dict>
			<key>frame</key>
			<string>{{2,252},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_015</key>
		<dict>
			<key>frame</key>
			<string>{{158,202},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_016</key>
		<dict>
			<key>frame</key>
			<string>{{158,252},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_017</key>
		<dict>
			<key>frame</key>
			<string>{{80,252},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_018</key>
		<dict>
			<key>frame</key>
			<string>{{80,302},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_019</key>
		<dict>
			<key>frame</key>
			<string>{{2,302},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_020</key>
		<dict>
			<key>frame</key>
			<string>{{2,352},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_021</key>
		<dict>
			<key>frame</key>
			<string>{{158,302},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_022</key>
		<dict>
			<key>frame</key>
			<string>{{158,352},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_023</key>
		<dict>
			<key>frame</key>
			<string>{{80,352},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_024</key>
		<dict>
			<key>frame</key>
			<string>{{80,402},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_025</key>
		<dict>
			<key>frame</key>
			<string>{{2,402},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_026</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_027</key>
		<dict>
			<key>frame</key>
			<string>{{80,452},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_028</key>
		<dict>
			<key>frame</key>
			<string>{{158,452},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_029</key>
		<dict>
			<key>frame</key>
			<string>{{158,402},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
		<key>134224401_030</key>
		<dict>
			<key>frame</key>
			<string>{{236,402},{48,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,76}}</string>
			<key>sourceSize</key>
			<string>{48,76}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134224401</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134224401</string>
	</dict>
</dict>
</plist>
