<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134265713_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,844},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,1686},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,2528},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,3370},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_005</key>
		<dict>
			<key>frame</key>
			<string>{{844,2},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_006</key>
		<dict>
			<key>frame</key>
			<string>{{1686,2},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_007</key>
		<dict>
			<key>frame</key>
			<string>{{2528,2},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_008</key>
		<dict>
			<key>frame</key>
			<string>{{3370,2},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_009</key>
		<dict>
			<key>frame</key>
			<string>{{844,624},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_010</key>
		<dict>
			<key>frame</key>
			<string>{{1686,624},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_011</key>
		<dict>
			<key>frame</key>
			<string>{{2528,624},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_012</key>
		<dict>
			<key>frame</key>
			<string>{{3370,844},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_013</key>
		<dict>
			<key>frame</key>
			<string>{{624,1686},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_014</key>
		<dict>
			<key>frame</key>
			<string>{{624,2528},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_015</key>
		<dict>
			<key>frame</key>
			<string>{{844,3370},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_016</key>
		<dict>
			<key>frame</key>
			<string>{{1686,1246},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_017</key>
		<dict>
			<key>frame</key>
			<string>{{2528,1246},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_018</key>
		<dict>
			<key>frame</key>
			<string>{{3370,1686},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_019</key>
		<dict>
			<key>frame</key>
			<string>{{1246,2528},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_020</key>
		<dict>
			<key>frame</key>
			<string>{{1246,1868},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_021</key>
		<dict>
			<key>frame</key>
			<string>{{1686,3370},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_022</key>
		<dict>
			<key>frame</key>
			<string>{{2528,1868},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
		<key>134265713_023</key>
		<dict>
			<key>frame</key>
			<string>{{2528,2490},{620,840}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,840}}</string>
			<key>sourceSize</key>
			<string>{620,840}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134265713</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>textureFileName</key>
		<string>custom_ui/134265713</string>
	</dict>
</dict>
</plist>
