<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134236698_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{420,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,380}}</string>
			<key>sourceSize</key>
			<string>{420,380}</string>
		</dict>
		<key>134236698_001</key>
		<dict>
			<key>frame</key>
			<string>{{384,2},{420,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,380}}</string>
			<key>sourceSize</key>
			<string>{420,380}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134236698</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134236698</string>
	</dict>
</dict>
</plist>
