<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134234082_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,468},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,934},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,1400},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,1866},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_005</key>
		<dict>
			<key>frame</key>
			<string>{{2,2332},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_006</key>
		<dict>
			<key>frame</key>
			<string>{{2,2798},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_007</key>
		<dict>
			<key>frame</key>
			<string>{{2,3264},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_008</key>
		<dict>
			<key>frame</key>
			<string>{{381,3264},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_009</key>
		<dict>
			<key>frame</key>
			<string>{{381,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_010</key>
		<dict>
			<key>frame</key>
			<string>{{381,468},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_011</key>
		<dict>
			<key>frame</key>
			<string>{{381,934},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_012</key>
		<dict>
			<key>frame</key>
			<string>{{381,1400},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_013</key>
		<dict>
			<key>frame</key>
			<string>{{381,1866},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_014</key>
		<dict>
			<key>frame</key>
			<string>{{381,2332},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_015</key>
		<dict>
			<key>frame</key>
			<string>{{381,2798},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_016</key>
		<dict>
			<key>frame</key>
			<string>{{760,2798},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_017</key>
		<dict>
			<key>frame</key>
			<string>{{760,3264},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_018</key>
		<dict>
			<key>frame</key>
			<string>{{1139,3264},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_019</key>
		<dict>
			<key>frame</key>
			<string>{{1518,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_020</key>
		<dict>
			<key>frame</key>
			<string>{{1139,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_021</key>
		<dict>
			<key>frame</key>
			<string>{{760,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_022</key>
		<dict>
			<key>frame</key>
			<string>{{760,468},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_023</key>
		<dict>
			<key>frame</key>
			<string>{{760,934},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_024</key>
		<dict>
			<key>frame</key>
			<string>{{760,1400},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_025</key>
		<dict>
			<key>frame</key>
			<string>{{760,1866},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_026</key>
		<dict>
			<key>frame</key>
			<string>{{760,2332},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_027</key>
		<dict>
			<key>frame</key>
			<string>{{1139,2332},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_028</key>
		<dict>
			<key>frame</key>
			<string>{{1139,2798},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_029</key>
		<dict>
			<key>frame</key>
			<string>{{1518,2798},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_030</key>
		<dict>
			<key>frame</key>
			<string>{{1518,3264},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_031</key>
		<dict>
			<key>frame</key>
			<string>{{1897,3264},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_032</key>
		<dict>
			<key>frame</key>
			<string>{{2276,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_033</key>
		<dict>
			<key>frame</key>
			<string>{{2742,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_034</key>
		<dict>
			<key>frame</key>
			<string>{{3208,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_035</key>
		<dict>
			<key>frame</key>
			<string>{{3674,2},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_036</key>
		<dict>
			<key>frame</key>
			<string>{{2276,381},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_037</key>
		<dict>
			<key>frame</key>
			<string>{{1897,381},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_038</key>
		<dict>
			<key>frame</key>
			<string>{{1518,381},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_039</key>
		<dict>
			<key>frame</key>
			<string>{{1518,847},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_040</key>
		<dict>
			<key>frame</key>
			<string>{{1139,847},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_041</key>
		<dict>
			<key>frame</key>
			<string>{{1139,1313},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_042</key>
		<dict>
			<key>frame</key>
			<string>{{1139,1779},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_043</key>
		<dict>
			<key>frame</key>
			<string>{{1518,1779},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_044</key>
		<dict>
			<key>frame</key>
			<string>{{1518,1313},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_045</key>
		<dict>
			<key>frame</key>
			<string>{{1897,1313},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_046</key>
		<dict>
			<key>frame</key>
			<string>{{1897,847},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_047</key>
		<dict>
			<key>frame</key>
			<string>{{2276,847},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_048</key>
		<dict>
			<key>frame</key>
			<string>{{1518,2245},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_049</key>
		<dict>
			<key>frame</key>
			<string>{{1897,2245},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_050</key>
		<dict>
			<key>frame</key>
			<string>{{1897,1779},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_051</key>
		<dict>
			<key>frame</key>
			<string>{{2276,1779},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_052</key>
		<dict>
			<key>frame</key>
			<string>{{2276,1313},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_053</key>
		<dict>
			<key>frame</key>
			<string>{{2655,1313},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_054</key>
		<dict>
			<key>frame</key>
			<string>{{2655,760},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_055</key>
		<dict>
			<key>frame</key>
			<string>{{2742,381},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_056</key>
		<dict>
			<key>frame</key>
			<string>{{3208,381},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_057</key>
		<dict>
			<key>frame</key>
			<string>{{3674,468},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_058</key>
		<dict>
			<key>frame</key>
			<string>{{1897,2711},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_059</key>
		<dict>
			<key>frame</key>
			<string>{{2276,2711},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_060</key>
		<dict>
			<key>frame</key>
			<string>{{2276,2245},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_061</key>
		<dict>
			<key>frame</key>
			<string>{{2655,2245},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_062</key>
		<dict>
			<key>frame</key>
			<string>{{2655,1779},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_063</key>
		<dict>
			<key>frame</key>
			<string>{{3034,1779},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
		<key>134234082_064</key>
		<dict>
			<key>frame</key>
			<string>{{3034,760},{464,377}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,377}}</string>
			<key>sourceSize</key>
			<string>{464,377}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134234082</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>textureFileName</key>
		<string>custom_ui/134234082</string>
	</dict>
</dict>
</plist>
