<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134253020_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,207},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,412},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,617},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,822},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_005</key>
		<dict>
			<key>frame</key>
			<string>{{2,1027},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_006</key>
		<dict>
			<key>frame</key>
			<string>{{2,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_007</key>
		<dict>
			<key>frame</key>
			<string>{{2,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_008</key>
		<dict>
			<key>frame</key>
			<string>{{2,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_009</key>
		<dict>
			<key>frame</key>
			<string>{{202,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_010</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_011</key>
		<dict>
			<key>frame</key>
			<string>{{202,207},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_012</key>
		<dict>
			<key>frame</key>
			<string>{{202,412},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_013</key>
		<dict>
			<key>frame</key>
			<string>{{202,617},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_014</key>
		<dict>
			<key>frame</key>
			<string>{{202,822},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_015</key>
		<dict>
			<key>frame</key>
			<string>{{202,1027},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_016</key>
		<dict>
			<key>frame</key>
			<string>{{202,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_017</key>
		<dict>
			<key>frame</key>
			<string>{{202,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_018</key>
		<dict>
			<key>frame</key>
			<string>{{402,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_019</key>
		<dict>
			<key>frame</key>
			<string>{{402,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_020</key>
		<dict>
			<key>frame</key>
			<string>{{602,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_021</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_022</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_023</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_024</key>
		<dict>
			<key>frame</key>
			<string>{{402,207},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_025</key>
		<dict>
			<key>frame</key>
			<string>{{402,412},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_026</key>
		<dict>
			<key>frame</key>
			<string>{{402,617},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_027</key>
		<dict>
			<key>frame</key>
			<string>{{402,822},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_028</key>
		<dict>
			<key>frame</key>
			<string>{{402,1027},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_029</key>
		<dict>
			<key>frame</key>
			<string>{{402,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_030</key>
		<dict>
			<key>frame</key>
			<string>{{602,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_031</key>
		<dict>
			<key>frame</key>
			<string>{{602,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_032</key>
		<dict>
			<key>frame</key>
			<string>{{802,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_033</key>
		<dict>
			<key>frame</key>
			<string>{{802,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_034</key>
		<dict>
			<key>frame</key>
			<string>{{1002,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_035</key>
		<dict>
			<key>frame</key>
			<string>{{1202,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_036</key>
		<dict>
			<key>frame</key>
			<string>{{1407,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_037</key>
		<dict>
			<key>frame</key>
			<string>{{1612,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_038</key>
		<dict>
			<key>frame</key>
			<string>{{1817,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_039</key>
		<dict>
			<key>frame</key>
			<string>{{1817,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_040</key>
		<dict>
			<key>frame</key>
			<string>{{1202,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_041</key>
		<dict>
			<key>frame</key>
			<string>{{1002,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_042</key>
		<dict>
			<key>frame</key>
			<string>{{802,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_043</key>
		<dict>
			<key>frame</key>
			<string>{{802,407},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_044</key>
		<dict>
			<key>frame</key>
			<string>{{602,407},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_045</key>
		<dict>
			<key>frame</key>
			<string>{{602,612},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_046</key>
		<dict>
			<key>frame</key>
			<string>{{1407,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_047</key>
		<dict>
			<key>frame</key>
			<string>{{1612,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_048</key>
		<dict>
			<key>frame</key>
			<string>{{1612,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_049</key>
		<dict>
			<key>frame</key>
			<string>{{1817,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_050</key>
		<dict>
			<key>frame</key>
			<string>{{1817,602},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_051</key>
		<dict>
			<key>frame</key>
			<string>{{1202,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_052</key>
		<dict>
			<key>frame</key>
			<string>{{1002,407},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_053</key>
		<dict>
			<key>frame</key>
			<string>{{1407,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_054</key>
		<dict>
			<key>frame</key>
			<string>{{1407,602},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_055</key>
		<dict>
			<key>frame</key>
			<string>{{1202,602},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_056</key>
		<dict>
			<key>frame</key>
			<string>{{1002,612},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_057</key>
		<dict>
			<key>frame</key>
			<string>{{802,612},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_058</key>
		<dict>
			<key>frame</key>
			<string>{{802,817},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_059</key>
		<dict>
			<key>frame</key>
			<string>{{602,817},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>134253020_060</key>
		<dict>
			<key>frame</key>
			<string>{{602,1022},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134253020</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>custom_ui/134253020</string>
	</dict>
</dict>
</plist>
