<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134230143_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,401},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,447},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_005</key>
		<dict>
			<key>frame</key>
			<string>{{135,447},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_006</key>
		<dict>
			<key>frame</key>
			<string>{{48,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_007</key>
		<dict>
			<key>frame</key>
			<string>{{48,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_008</key>
		<dict>
			<key>frame</key>
			<string>{{48,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_009</key>
		<dict>
			<key>frame</key>
			<string>{{94,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_010</key>
		<dict>
			<key>frame</key>
			<string>{{135,401},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_011</key>
		<dict>
			<key>frame</key>
			<string>{{94,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_012</key>
		<dict>
			<key>frame</key>
			<string>{{94,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_013</key>
		<dict>
			<key>frame</key>
			<string>{{140,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_014</key>
		<dict>
			<key>frame</key>
			<string>{{140,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_015</key>
		<dict>
			<key>frame</key>
			<string>{{186,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_016</key>
		<dict>
			<key>frame</key>
			<string>{{140,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_017</key>
		<dict>
			<key>frame</key>
			<string>{{186,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_018</key>
		<dict>
			<key>frame</key>
			<string>{{186,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_019</key>
		<dict>
			<key>frame</key>
			<string>{{232,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_020</key>
		<dict>
			<key>frame</key>
			<string>{{232,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_021</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_022</key>
		<dict>
			<key>frame</key>
			<string>{{278,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_023</key>
		<dict>
			<key>frame</key>
			<string>{{268,401},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_024</key>
		<dict>
			<key>frame</key>
			<string>{{268,447},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_025</key>
		<dict>
			<key>frame</key>
			<string>{{401,447},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_026</key>
		<dict>
			<key>frame</key>
			<string>{{278,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_027</key>
		<dict>
			<key>frame</key>
			<string>{{278,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_028</key>
		<dict>
			<key>frame</key>
			<string>{{324,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_029</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_030</key>
		<dict>
			<key>frame</key>
			<string>{{324,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_031</key>
		<dict>
			<key>frame</key>
			<string>{{370,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_032</key>
		<dict>
			<key>frame</key>
			<string>{{370,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_033</key>
		<dict>
			<key>frame</key>
			<string>{{416,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_034</key>
		<dict>
			<key>frame</key>
			<string>{{370,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_035</key>
		<dict>
			<key>frame</key>
			<string>{{401,401},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_036</key>
		<dict>
			<key>frame</key>
			<string>{{416,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_037</key>
		<dict>
			<key>frame</key>
			<string>{{416,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_038</key>
		<dict>
			<key>frame</key>
			<string>{{462,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_039</key>
		<dict>
			<key>frame</key>
			<string>{{462,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_040</key>
		<dict>
			<key>frame</key>
			<string>{{462,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_041</key>
		<dict>
			<key>frame</key>
			<string>{{508,135},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_042</key>
		<dict>
			<key>frame</key>
			<string>{{508,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_043</key>
		<dict>
			<key>frame</key>
			<string>{{554,2},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_044</key>
		<dict>
			<key>frame</key>
			<string>{{508,268},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_045</key>
		<dict>
			<key>frame</key>
			<string>{{534,401},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
		<key>134230143_046</key>
		<dict>
			<key>frame</key>
			<string>{{534,447},{131,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,44}}</string>
			<key>sourceSize</key>
			<string>{131,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134230143</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134230143</string>
	</dict>
</dict>
</plist>
