<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134269238_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,372},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,428},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_004</key>
		<dict>
			<key>frame</key>
			<string>{{187,428},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_005</key>
		<dict>
			<key>frame</key>
			<string>{{372,2},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_006</key>
		<dict>
			<key>frame</key>
			<string>{{58,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_007</key>
		<dict>
			<key>frame</key>
			<string>{{58,2},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_008</key>
		<dict>
			<key>frame</key>
			<string>{{114,2},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_009</key>
		<dict>
			<key>frame</key>
			<string>{{114,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_010</key>
		<dict>
			<key>frame</key>
			<string>{{170,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_011</key>
		<dict>
			<key>frame</key>
			<string>{{170,2},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_012</key>
		<dict>
			<key>frame</key>
			<string>{{187,372},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_013</key>
		<dict>
			<key>frame</key>
			<string>{{226,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_014</key>
		<dict>
			<key>frame</key>
			<string>{{282,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_015</key>
		<dict>
			<key>frame</key>
			<string>{{338,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_016</key>
		<dict>
			<key>frame</key>
			<string>{{372,372},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_017</key>
		<dict>
			<key>frame</key>
			<string>{{394,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_018</key>
		<dict>
			<key>frame</key>
			<string>{{428,2},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_019</key>
		<dict>
			<key>frame</key>
			<string>{{450,187},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>134269238_020</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134269238</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134269238</string>
	</dict>
</dict>
</plist>
