<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134227044_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_002</key>
		<dict>
			<key>frame</key>
			<string>{{46,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_003</key>
		<dict>
			<key>frame</key>
			<string>{{46,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_004</key>
		<dict>
			<key>frame</key>
			<string>{{90,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_005</key>
		<dict>
			<key>frame</key>
			<string>{{90,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_006</key>
		<dict>
			<key>frame</key>
			<string>{{134,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_007</key>
		<dict>
			<key>frame</key>
			<string>{{134,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_008</key>
		<dict>
			<key>frame</key>
			<string>{{178,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_009</key>
		<dict>
			<key>frame</key>
			<string>{{178,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_010</key>
		<dict>
			<key>frame</key>
			<string>{{222,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_011</key>
		<dict>
			<key>frame</key>
			<string>{{222,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_012</key>
		<dict>
			<key>frame</key>
			<string>{{266,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_013</key>
		<dict>
			<key>frame</key>
			<string>{{266,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_014</key>
		<dict>
			<key>frame</key>
			<string>{{310,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_015</key>
		<dict>
			<key>frame</key>
			<string>{{310,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_016</key>
		<dict>
			<key>frame</key>
			<string>{{354,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_017</key>
		<dict>
			<key>frame</key>
			<string>{{354,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_018</key>
		<dict>
			<key>frame</key>
			<string>{{398,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_019</key>
		<dict>
			<key>frame</key>
			<string>{{398,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_020</key>
		<dict>
			<key>frame</key>
			<string>{{442,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_021</key>
		<dict>
			<key>frame</key>
			<string>{{442,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_022</key>
		<dict>
			<key>frame</key>
			<string>{{486,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_023</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_024</key>
		<dict>
			<key>frame</key>
			<string>{{530,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_025</key>
		<dict>
			<key>frame</key>
			<string>{{530,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_026</key>
		<dict>
			<key>frame</key>
			<string>{{574,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_027</key>
		<dict>
			<key>frame</key>
			<string>{{574,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_028</key>
		<dict>
			<key>frame</key>
			<string>{{618,2},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_029</key>
		<dict>
			<key>frame</key>
			<string>{{618,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
		<key>134227044_030</key>
		<dict>
			<key>frame</key>
			<string>{{662,240},{236,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,42}}</string>
			<key>sourceSize</key>
			<string>{236,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134227044</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134227044</string>
	</dict>
</dict>
</plist>
