<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134243274_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>134243274_001</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>134243274_002</key>
		<dict>
			<key>frame</key>
			<string>{{84,84},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>134243274_003</key>
		<dict>
			<key>frame</key>
			<string>{{166,84},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>134243274_004</key>
		<dict>
			<key>frame</key>
			<string>{{248,84},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>134243274_005</key>
		<dict>
			<key>frame</key>
			<string>{{330,84},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>134243274_006</key>
		<dict>
			<key>frame</key>
			<string>{{412,84},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
		<key>134243274_007</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{400,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,80}}</string>
			<key>sourceSize</key>
			<string>{400,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134243274</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134243274</string>
	</dict>
</dict>
</plist>
