<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134247718_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,149},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,443},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_005</key>
		<dict>
			<key>frame</key>
			<string>{{2,737},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_006</key>
		<dict>
			<key>frame</key>
			<string>{{2,884},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_007</key>
		<dict>
			<key>frame</key>
			<string>{{149,2},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_008</key>
		<dict>
			<key>frame</key>
			<string>{{296,2},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_009</key>
		<dict>
			<key>frame</key>
			<string>{{443,2},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_010</key>
		<dict>
			<key>frame</key>
			<string>{{590,2},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_011</key>
		<dict>
			<key>frame</key>
			<string>{{737,2},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_012</key>
		<dict>
			<key>frame</key>
			<string>{{884,2},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_013</key>
		<dict>
			<key>frame</key>
			<string>{{138,149},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_014</key>
		<dict>
			<key>frame</key>
			<string>{{138,296},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_015</key>
		<dict>
			<key>frame</key>
			<string>{{138,443},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_016</key>
		<dict>
			<key>frame</key>
			<string>{{138,590},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_017</key>
		<dict>
			<key>frame</key>
			<string>{{138,737},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_018</key>
		<dict>
			<key>frame</key>
			<string>{{149,884},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_019</key>
		<dict>
			<key>frame</key>
			<string>{{296,138},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_020</key>
		<dict>
			<key>frame</key>
			<string>{{443,138},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_021</key>
		<dict>
			<key>frame</key>
			<string>{{590,138},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_022</key>
		<dict>
			<key>frame</key>
			<string>{{737,138},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_023</key>
		<dict>
			<key>frame</key>
			<string>{{884,149},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_024</key>
		<dict>
			<key>frame</key>
			<string>{{274,296},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_025</key>
		<dict>
			<key>frame</key>
			<string>{{274,443},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_026</key>
		<dict>
			<key>frame</key>
			<string>{{274,590},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_027</key>
		<dict>
			<key>frame</key>
			<string>{{274,737},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_028</key>
		<dict>
			<key>frame</key>
			<string>{{296,884},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_029</key>
		<dict>
			<key>frame</key>
			<string>{{443,274},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
		<key>134247718_030</key>
		<dict>
			<key>frame</key>
			<string>{{590,274},{145,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,134}}</string>
			<key>sourceSize</key>
			<string>{145,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134247718</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>custom_ui/134247718</string>
	</dict>
</dict>
</plist>
