<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134243489_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,1682},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_004</key>
		<dict>
			<key>frame</key>
			<string>{{284,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_005</key>
		<dict>
			<key>frame</key>
			<string>{{284,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_006</key>
		<dict>
			<key>frame</key>
			<string>{{284,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_007</key>
		<dict>
			<key>frame</key>
			<string>{{562,1682},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_008</key>
		<dict>
			<key>frame</key>
			<string>{{566,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_009</key>
		<dict>
			<key>frame</key>
			<string>{{566,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_010</key>
		<dict>
			<key>frame</key>
			<string>{{566,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_011</key>
		<dict>
			<key>frame</key>
			<string>{{848,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_012</key>
		<dict>
			<key>frame</key>
			<string>{{1122,1682},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_013</key>
		<dict>
			<key>frame</key>
			<string>{{848,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_014</key>
		<dict>
			<key>frame</key>
			<string>{{848,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_015</key>
		<dict>
			<key>frame</key>
			<string>{{1130,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_016</key>
		<dict>
			<key>frame</key>
			<string>{{1130,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_017</key>
		<dict>
			<key>frame</key>
			<string>{{1412,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_018</key>
		<dict>
			<key>frame</key>
			<string>{{1130,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_019</key>
		<dict>
			<key>frame</key>
			<string>{{1412,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_020</key>
		<dict>
			<key>frame</key>
			<string>{{1412,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_021</key>
		<dict>
			<key>frame</key>
			<string>{{1694,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_022</key>
		<dict>
			<key>frame</key>
			<string>{{1694,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_023</key>
		<dict>
			<key>frame</key>
			<string>{{1976,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_024</key>
		<dict>
			<key>frame</key>
			<string>{{1682,1682},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_025</key>
		<dict>
			<key>frame</key>
			<string>{{1694,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_026</key>
		<dict>
			<key>frame</key>
			<string>{{1976,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_027</key>
		<dict>
			<key>frame</key>
			<string>{{1976,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_028</key>
		<dict>
			<key>frame</key>
			<string>{{2258,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_029</key>
		<dict>
			<key>frame</key>
			<string>{{2258,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_030</key>
		<dict>
			<key>frame</key>
			<string>{{2540,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_031</key>
		<dict>
			<key>frame</key>
			<string>{{2242,1682},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_032</key>
		<dict>
			<key>frame</key>
			<string>{{2258,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_033</key>
		<dict>
			<key>frame</key>
			<string>{{2540,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_034</key>
		<dict>
			<key>frame</key>
			<string>{{2540,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_035</key>
		<dict>
			<key>frame</key>
			<string>{{2822,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_036</key>
		<dict>
			<key>frame</key>
			<string>{{2822,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_037</key>
		<dict>
			<key>frame</key>
			<string>{{3104,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_038</key>
		<dict>
			<key>frame</key>
			<string>{{2802,1682},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_039</key>
		<dict>
			<key>frame</key>
			<string>{{2822,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_040</key>
		<dict>
			<key>frame</key>
			<string>{{3104,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_041</key>
		<dict>
			<key>frame</key>
			<string>{{3104,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_042</key>
		<dict>
			<key>frame</key>
			<string>{{3386,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_043</key>
		<dict>
			<key>frame</key>
			<string>{{3386,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_044</key>
		<dict>
			<key>frame</key>
			<string>{{3362,1682},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_045</key>
		<dict>
			<key>frame</key>
			<string>{{3386,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_046</key>
		<dict>
			<key>frame</key>
			<string>{{3668,2},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_047</key>
		<dict>
			<key>frame</key>
			<string>{{3668,562},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_048</key>
		<dict>
			<key>frame</key>
			<string>{{3668,1122},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
		<key>134243489_049</key>
		<dict>
			<key>frame</key>
			<string>{{2,1964},{558,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,280}}</string>
			<key>sourceSize</key>
			<string>{558,280}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134243489</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>textureFileName</key>
		<string>custom_ui/134243489</string>
	</dict>
</dict>
</plist>
