<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134258706_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,402},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_003</key>
		<dict>
			<key>frame</key>
			<string>{{74,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_004</key>
		<dict>
			<key>frame</key>
			<string>{{74,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_005</key>
		<dict>
			<key>frame</key>
			<string>{{146,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_006</key>
		<dict>
			<key>frame</key>
			<string>{{146,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_007</key>
		<dict>
			<key>frame</key>
			<string>{{218,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_008</key>
		<dict>
			<key>frame</key>
			<string>{{202,402},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_009</key>
		<dict>
			<key>frame</key>
			<string>{{218,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_010</key>
		<dict>
			<key>frame</key>
			<string>{{290,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_011</key>
		<dict>
			<key>frame</key>
			<string>{{290,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_012</key>
		<dict>
			<key>frame</key>
			<string>{{362,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_013</key>
		<dict>
			<key>frame</key>
			<string>{{362,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_014</key>
		<dict>
			<key>frame</key>
			<string>{{402,402},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_015</key>
		<dict>
			<key>frame</key>
			<string>{{434,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_016</key>
		<dict>
			<key>frame</key>
			<string>{{434,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_017</key>
		<dict>
			<key>frame</key>
			<string>{{506,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_018</key>
		<dict>
			<key>frame</key>
			<string>{{506,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_019</key>
		<dict>
			<key>frame</key>
			<string>{{578,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_020</key>
		<dict>
			<key>frame</key>
			<string>{{578,202},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_021</key>
		<dict>
			<key>frame</key>
			<string>{{602,402},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_022</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_023</key>
		<dict>
			<key>frame</key>
			<string>{{802,74},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_024</key>
		<dict>
			<key>frame</key>
			<string>{{802,146},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_025</key>
		<dict>
			<key>frame</key>
			<string>{{802,218},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_026</key>
		<dict>
			<key>frame</key>
			<string>{{802,290},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_027</key>
		<dict>
			<key>frame</key>
			<string>{{874,290},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_028</key>
		<dict>
			<key>frame</key>
			<string>{{946,290},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_029</key>
		<dict>
			<key>frame</key>
			<string>{{946,490},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
		<key>134258706_030</key>
		<dict>
			<key>frame</key>
			<string>{{650,2},{198,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,70}}</string>
			<key>sourceSize</key>
			<string>{198,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134258706</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>custom_ui/134258706</string>
	</dict>
</dict>
</plist>
