<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134225316_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,1436},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,1586},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,1736},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_005</key>
		<dict>
			<key>frame</key>
			<string>{{2,1886},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_006</key>
		<dict>
			<key>frame</key>
			<string>{{719,1886},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_007</key>
		<dict>
			<key>frame</key>
			<string>{{152,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_008</key>
		<dict>
			<key>frame</key>
			<string>{{152,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_009</key>
		<dict>
			<key>frame</key>
			<string>{{302,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_010</key>
		<dict>
			<key>frame</key>
			<string>{{302,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_011</key>
		<dict>
			<key>frame</key>
			<string>{{452,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_012</key>
		<dict>
			<key>frame</key>
			<string>{{452,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_013</key>
		<dict>
			<key>frame</key>
			<string>{{602,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_014</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_015</key>
		<dict>
			<key>frame</key>
			<string>{{752,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_016</key>
		<dict>
			<key>frame</key>
			<string>{{719,1436},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_017</key>
		<dict>
			<key>frame</key>
			<string>{{752,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_018</key>
		<dict>
			<key>frame</key>
			<string>{{902,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_019</key>
		<dict>
			<key>frame</key>
			<string>{{902,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_020</key>
		<dict>
			<key>frame</key>
			<string>{{1052,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_021</key>
		<dict>
			<key>frame</key>
			<string>{{1052,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_022</key>
		<dict>
			<key>frame</key>
			<string>{{1202,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_023</key>
		<dict>
			<key>frame</key>
			<string>{{1202,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_024</key>
		<dict>
			<key>frame</key>
			<string>{{1352,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_025</key>
		<dict>
			<key>frame</key>
			<string>{{1352,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_026</key>
		<dict>
			<key>frame</key>
			<string>{{719,1586},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_027</key>
		<dict>
			<key>frame</key>
			<string>{{719,1736},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_028</key>
		<dict>
			<key>frame</key>
			<string>{{1436,1736},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_029</key>
		<dict>
			<key>frame</key>
			<string>{{1436,1886},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_030</key>
		<dict>
			<key>frame</key>
			<string>{{2153,1886},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_031</key>
		<dict>
			<key>frame</key>
			<string>{{1436,1436},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_032</key>
		<dict>
			<key>frame</key>
			<string>{{1436,1586},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_033</key>
		<dict>
			<key>frame</key>
			<string>{{2153,1586},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_034</key>
		<dict>
			<key>frame</key>
			<string>{{2153,1736},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_035</key>
		<dict>
			<key>frame</key>
			<string>{{2870,1736},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_036</key>
		<dict>
			<key>frame</key>
			<string>{{2870,1886},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_037</key>
		<dict>
			<key>frame</key>
			<string>{{3587,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_038</key>
		<dict>
			<key>frame</key>
			<string>{{1502,719},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_039</key>
		<dict>
			<key>frame</key>
			<string>{{1502,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
		<key>134225316_040</key>
		<dict>
			<key>frame</key>
			<string>{{1652,2},{715,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{715,148}}</string>
			<key>sourceSize</key>
			<string>{715,148}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134225316</string>
		<key>size</key>
		<string>{4096,2048}</string>
		<key>textureFileName</key>
		<string>custom_ui/134225316</string>
	</dict>
</dict>
</plist>
