<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Armature_1_02_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,1397},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00002</key>
		<dict>
			<key>frame</key>
			<string>{{2,2792},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00003</key>
		<dict>
			<key>frame</key>
			<string>{{2,3189},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00004</key>
		<dict>
			<key>frame</key>
			<string>{{2,3586},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00005</key>
		<dict>
			<key>frame</key>
			<string>{{1397,3586},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00006</key>
		<dict>
			<key>frame</key>
			<string>{{2792,2},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00007</key>
		<dict>
			<key>frame</key>
			<string>{{399,1397},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00008</key>
		<dict>
			<key>frame</key>
			<string>{{399,2},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00009</key>
		<dict>
			<key>frame</key>
			<string>{{796,2},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00010</key>
		<dict>
			<key>frame</key>
			<string>{{796,1397},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00011</key>
		<dict>
			<key>frame</key>
			<string>{{1193,1397},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00012</key>
		<dict>
			<key>frame</key>
			<string>{{1193,2},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00013</key>
		<dict>
			<key>frame</key>
			<string>{{1397,2792},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00014</key>
		<dict>
			<key>frame</key>
			<string>{{1590,1397},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00015</key>
		<dict>
			<key>frame</key>
			<string>{{1987,1397},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
		<key>Armature_1_02_00016</key>
		<dict>
			<key>frame</key>
			<string>{{2384,1397},{1393,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1393,395}}</string>
			<key>sourceSize</key>
			<string>{1393,395}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Armature_1_02</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>textureFileName</key>
		<string>Armature_1_02</string>
	</dict>
</dict>
</plist>
