<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{244,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,244}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>001_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{244,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,244}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>001_00002</key>
		<dict>
			<key>frame</key>
			<string>{{248,248},{244,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,244}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>001_00003</key>
		<dict>
			<key>frame</key>
			<string>{{248,2},{244,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,244}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>001_00004</key>
		<dict>
			<key>frame</key>
			<string>{{494,2},{244,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,244}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>001_00005</key>
		<dict>
			<key>frame</key>
			<string>{{494,248},{244,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,244}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>001</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>001</string>
	</dict>
</dict>
</plist>
