<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134239384.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,37},{386,357}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,357}}</string>
			<key>sourceSize</key>
			<string>{386,357}</string>
		</dict>
		<key>134241137.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,2},{387,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{387,33}}</string>
			<key>sourceSize</key>
			<string>{387,33}</string>
		</dict>
		<key>134241885.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,2},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>134257569.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,40},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>134261057.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{477,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,51}}</string>
			<key>sourceSize</key>
			<string>{477,51}</string>
		</dict>
		<key>134268957.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,78},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>RL_Blood-bar_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,481},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap1.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap1.png</string>
	</dict>
</dict>
</plist>
