<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134231092.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,154},{150,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,28}}</string>
			<key>sourceSize</key>
			<string>{150,28}</string>
		</dict>
		<key>134244864.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{369,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,317}}</string>
			<key>sourceSize</key>
			<string>{369,317}</string>
		</dict>
		<key>134259076.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,373},{104,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,113}}</string>
			<key>sourceSize</key>
			<string>{104,113}</string>
		</dict>
		<key>134264067.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,2},{175,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,150}}</string>
			<key>sourceSize</key>
			<string>{175,150}</string>
		</dict>
		<key>134281549.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,373},{110,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,119}}</string>
			<key>sourceSize</key>
			<string>{110,119}</string>
		</dict>
		<key>RL_Blood-bar_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,2},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>RL_Blood-bar_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,120},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>RL_Blood-bar_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,494},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap2.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>ss_independ_billboard_batch_ui_EntryMap2.png</string>
	</dict>
</dict>
</plist>
