<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Armature_shou1_00_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00002</key>
		<dict>
			<key>frame</key>
			<string>{{2,300},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00003</key>
		<dict>
			<key>frame</key>
			<string>{{105,300},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00004</key>
		<dict>
			<key>frame</key>
			<string>{{105,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00005</key>
		<dict>
			<key>frame</key>
			<string>{{105,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00006</key>
		<dict>
			<key>frame</key>
			<string>{{208,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00007</key>
		<dict>
			<key>frame</key>
			<string>{{208,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00008</key>
		<dict>
			<key>frame</key>
			<string>{{311,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00009</key>
		<dict>
			<key>frame</key>
			<string>{{208,300},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00010</key>
		<dict>
			<key>frame</key>
			<string>{{311,300},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00011</key>
		<dict>
			<key>frame</key>
			<string>{{311,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00012</key>
		<dict>
			<key>frame</key>
			<string>{{414,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00013</key>
		<dict>
			<key>frame</key>
			<string>{{414,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00014</key>
		<dict>
			<key>frame</key>
			<string>{{517,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00015</key>
		<dict>
			<key>frame</key>
			<string>{{414,300},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00016</key>
		<dict>
			<key>frame</key>
			<string>{{517,300},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00017</key>
		<dict>
			<key>frame</key>
			<string>{{517,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00018</key>
		<dict>
			<key>frame</key>
			<string>{{620,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00019</key>
		<dict>
			<key>frame</key>
			<string>{{620,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00020</key>
		<dict>
			<key>frame</key>
			<string>{{723,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00021</key>
		<dict>
			<key>frame</key>
			<string>{{826,2},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00022</key>
		<dict>
			<key>frame</key>
			<string>{{826,105},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00023</key>
		<dict>
			<key>frame</key>
			<string>{{723,151},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00024</key>
		<dict>
			<key>frame</key>
			<string>{{826,208},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
		<key>Armature_shou1_00_00025</key>
		<dict>
			<key>frame</key>
			<string>{{620,311},{147,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,101}}</string>
			<key>sourceSize</key>
			<string>{147,101}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Armature_shou1_00</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>Armature_shou1_00</string>
	</dict>
</dict>
</plist>
