<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>001_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{400,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,400}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>001_00001</key>
		<dict>
			<key>frame</key>
			<string>{{404,2},{400,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,400}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>001</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>001</string>
	</dict>
</dict>
</plist>
