<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Armature_newAnimation_00_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,207},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00002</key>
		<dict>
			<key>frame</key>
			<string>{{2,412},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00003</key>
		<dict>
			<key>frame</key>
			<string>{{2,617},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00004</key>
		<dict>
			<key>frame</key>
			<string>{{2,822},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00005</key>
		<dict>
			<key>frame</key>
			<string>{{2,1027},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00006</key>
		<dict>
			<key>frame</key>
			<string>{{2,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00007</key>
		<dict>
			<key>frame</key>
			<string>{{2,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00008</key>
		<dict>
			<key>frame</key>
			<string>{{2,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00009</key>
		<dict>
			<key>frame</key>
			<string>{{202,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00010</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00011</key>
		<dict>
			<key>frame</key>
			<string>{{202,207},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00012</key>
		<dict>
			<key>frame</key>
			<string>{{202,412},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00013</key>
		<dict>
			<key>frame</key>
			<string>{{202,617},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00014</key>
		<dict>
			<key>frame</key>
			<string>{{202,822},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00015</key>
		<dict>
			<key>frame</key>
			<string>{{202,1027},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00016</key>
		<dict>
			<key>frame</key>
			<string>{{202,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00017</key>
		<dict>
			<key>frame</key>
			<string>{{202,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00018</key>
		<dict>
			<key>frame</key>
			<string>{{402,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00019</key>
		<dict>
			<key>frame</key>
			<string>{{402,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00020</key>
		<dict>
			<key>frame</key>
			<string>{{602,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00021</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00022</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00023</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00024</key>
		<dict>
			<key>frame</key>
			<string>{{402,207},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00025</key>
		<dict>
			<key>frame</key>
			<string>{{402,412},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00026</key>
		<dict>
			<key>frame</key>
			<string>{{402,617},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00027</key>
		<dict>
			<key>frame</key>
			<string>{{402,822},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00028</key>
		<dict>
			<key>frame</key>
			<string>{{402,1027},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00029</key>
		<dict>
			<key>frame</key>
			<string>{{402,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00030</key>
		<dict>
			<key>frame</key>
			<string>{{602,1232},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00031</key>
		<dict>
			<key>frame</key>
			<string>{{602,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00032</key>
		<dict>
			<key>frame</key>
			<string>{{802,1437},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00033</key>
		<dict>
			<key>frame</key>
			<string>{{802,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00034</key>
		<dict>
			<key>frame</key>
			<string>{{1002,1642},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00035</key>
		<dict>
			<key>frame</key>
			<string>{{1202,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00036</key>
		<dict>
			<key>frame</key>
			<string>{{1407,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00037</key>
		<dict>
			<key>frame</key>
			<string>{{1612,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00038</key>
		<dict>
			<key>frame</key>
			<string>{{1817,2},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00039</key>
		<dict>
			<key>frame</key>
			<string>{{1817,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00040</key>
		<dict>
			<key>frame</key>
			<string>{{1202,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00041</key>
		<dict>
			<key>frame</key>
			<string>{{1002,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00042</key>
		<dict>
			<key>frame</key>
			<string>{{802,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00043</key>
		<dict>
			<key>frame</key>
			<string>{{802,407},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00044</key>
		<dict>
			<key>frame</key>
			<string>{{602,407},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00045</key>
		<dict>
			<key>frame</key>
			<string>{{602,612},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00046</key>
		<dict>
			<key>frame</key>
			<string>{{1407,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00047</key>
		<dict>
			<key>frame</key>
			<string>{{1612,202},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00048</key>
		<dict>
			<key>frame</key>
			<string>{{1612,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00049</key>
		<dict>
			<key>frame</key>
			<string>{{1817,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00050</key>
		<dict>
			<key>frame</key>
			<string>{{1817,602},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00051</key>
		<dict>
			<key>frame</key>
			<string>{{1202,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00052</key>
		<dict>
			<key>frame</key>
			<string>{{1002,407},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00053</key>
		<dict>
			<key>frame</key>
			<string>{{1407,402},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00054</key>
		<dict>
			<key>frame</key>
			<string>{{1407,602},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00055</key>
		<dict>
			<key>frame</key>
			<string>{{1202,602},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00056</key>
		<dict>
			<key>frame</key>
			<string>{{1002,612},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00057</key>
		<dict>
			<key>frame</key>
			<string>{{802,612},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00058</key>
		<dict>
			<key>frame</key>
			<string>{{802,817},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00059</key>
		<dict>
			<key>frame</key>
			<string>{{602,817},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
		<key>Armature_newAnimation_00_00060</key>
		<dict>
			<key>frame</key>
			<string>{{602,1022},{203,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,198}}</string>
			<key>sourceSize</key>
			<string>{203,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Armature_newAnimation_00</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>Armature_newAnimation_00</string>
	</dict>
</dict>
</plist>
