<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Armature_shou2_00_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00001</key>
		<dict>
			<key>frame</key>
			<string>{{139,2},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00002</key>
		<dict>
			<key>frame</key>
			<string>{{276,2},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00003</key>
		<dict>
			<key>frame</key>
			<string>{{276,129},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00004</key>
		<dict>
			<key>frame</key>
			<string>{{2,129},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00005</key>
		<dict>
			<key>frame</key>
			<string>{{139,129},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00006</key>
		<dict>
			<key>frame</key>
			<string>{{139,256},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00007</key>
		<dict>
			<key>frame</key>
			<string>{{2,256},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00008</key>
		<dict>
			<key>frame</key>
			<string>{{2,383},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00009</key>
		<dict>
			<key>frame</key>
			<string>{{276,256},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00010</key>
		<dict>
			<key>frame</key>
			<string>{{276,383},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00011</key>
		<dict>
			<key>frame</key>
			<string>{{139,383},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00012</key>
		<dict>
			<key>frame</key>
			<string>{{139,510},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00013</key>
		<dict>
			<key>frame</key>
			<string>{{2,510},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00014</key>
		<dict>
			<key>frame</key>
			<string>{{2,637},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00015</key>
		<dict>
			<key>frame</key>
			<string>{{276,510},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00016</key>
		<dict>
			<key>frame</key>
			<string>{{276,637},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00017</key>
		<dict>
			<key>frame</key>
			<string>{{139,637},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00018</key>
		<dict>
			<key>frame</key>
			<string>{{139,764},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00019</key>
		<dict>
			<key>frame</key>
			<string>{{2,764},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00020</key>
		<dict>
			<key>frame</key>
			<string>{{2,891},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00021</key>
		<dict>
			<key>frame</key>
			<string>{{139,891},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00022</key>
		<dict>
			<key>frame</key>
			<string>{{276,891},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00023</key>
		<dict>
			<key>frame</key>
			<string>{{276,764},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00024</key>
		<dict>
			<key>frame</key>
			<string>{{413,764},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00025</key>
		<dict>
			<key>frame</key>
			<string>{{413,891},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00026</key>
		<dict>
			<key>frame</key>
			<string>{{550,891},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00027</key>
		<dict>
			<key>frame</key>
			<string>{{687,2},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00028</key>
		<dict>
			<key>frame</key>
			<string>{{550,2},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
		<key>Armature_shou2_00_00029</key>
		<dict>
			<key>frame</key>
			<string>{{550,129},{125,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,135}}</string>
			<key>sourceSize</key>
			<string>{125,135}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Armature_shou2_00</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>Armature_shou2_00</string>
	</dict>
</dict>
</plist>
